@import url('https://fonts.googleapis.com/css2?family=Montserrat:wght@100;400;700&display=swap');

html, 
body {
  font-family: 'Montserrat', sans-serif;
}

.app {
  border: .1cm;
  border-style: solid;
  border-color:pink;
  display: flex;
  width: 100%;
  flex-direction: column;
  // height: 768
}
//module containers
.nav {
  border: .1cm;
  border-style: solid;
  border-color: green;
  display: flex;
  flex-direction: column;
  height: 100%;
  padding: 10px
}
.mainModule {
  border: .1cm;
  border-style: solid;
  border-color:purple;
  display: flex;
  height: 1080px
}

.vertNav{
  border: .1cm;
  border-style: solid;
  border-color:orange;
  display:flex;
  justify-content: space-evenly;
  align-items: center;
}

.home {
  border: .1cm;
  border-style: solid;
  border-color:blue;
  width: 100%;
  padding: 20px
}